.aspiesoft-embed {
  width: 100%;
  min-width: 300px;
  max-width: 2500px;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  /*display: inline-block;*/
  border-radius: 20px;
  background: #2b2b2b;
  box-shadow: 0 0 5px #121212;
  transition: all 0.5s;
  display: block;
}

.aspiesoft-embed iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: none;
  position: relative;
  outline: none;
  transition: all 0.5s;
}
